
body {
    font-family: "Helvetica", "Arial", "Sans Serif" ;
}

a:link, a:visited {
    text-decoration: none;
}

pre {
    padding-left: 1em;
}

h1 {
    font-size: 125%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 105%;
}

#sidebar {
    display: inline-block;
    vertical-align: top;
    margin: 0.5em;
    padding-top: 2em;
    color: #a0a0a0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 15em;
    top: 0;
    bottom: 0;
    word-wrap: break-word;
}
#sidebar a {
    color: #a0a0a0;
}

#content {
    display: inline-block;
    min-width: 25%;
    padding-left: 15em;
    width: 75%;
}

#hidden-title {
  display: none;
}

#footer {
    text-align: center;
    color: #a0a0a0;
}
#footer a {
    color: #a0a0a0;
}
